<div class="w-[650px] bg-white rounded-lg shadow p-6 mb-2">

  <div class="flex justify-center w-full">
    <!-- Avatar circle -->
    <app-avatar />

    <!-- form -->
    <div class="flex-1">

      <!-- textarea -->
      <textarea
      (keyup.enter)="sendTweet()"
      [(ngModel)]="tweetMessage"
      (input)="changeTweet()"
      [maxlength]="tweetMaxLength"
      class="mb-2 bg-gray-200 focus:outline-none focus:shadow-outline focus:bg-gray-100 resize-none border border-transparent rounded-lg py-2 px-4 block w-full appearance-none leading-normal font-light placeholder-gray-700" rows="3" placeholder="What's happening... ">

      </textarea>

      <!-- divider line -->
      <div class="w-auto border rouded-lg">

      </div>

      <!-- interactive -->
      <div class="flex justify-end items-baseline">

        <!-- count chars -->
        <div class="mr-5 font-thin text-gray-500">
          <p>{{tweetRemain}}</p>
        </div>

        <!-- button -->
        <div class="mt-5">
          <button (click)="sendTweet()"
            type="button"
            class="w-32 focus:outline-none border border-transparent shadow py-2 px-5 rounded-lg bg-blue-500 hover:bg-blue-600 font-medium text-white text-center"
          >
            Tweet
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
